<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite-FullRegression">
	<listeners>
		<listener class-name="framework.utils.TestNGListener" />
	</listeners>
	<test name ="Admin_Settings_Captcha_disable"> 
	<groups> 
	<run> 
	<include name="Captcha"/> 
	<include name="Common"/> 
	</run> 
	</groups>
	<classes> 
	<class name="framework.test.TurnOffCaptcha_PartyLite"/> 
	</classes> 
	</test>
	<test thread-count="3" name="Test-FullRegression" parallel="methods"> 
		<groups>
			<run>
				<include name="Smokes" />
				<include name="Common" />
				<include name="eShop" />
				<include name="PEX" />
			</run>
		</groups>
		<classes>
	
	 <class name="framework.test.CreatePartyPrevHost_NewAddress_PartyLite"/>	 
	<class name="framework.test.ConsultantSignIn_PartyLite"/> 
     <class name="framework.test.CreatePartyConsAsHost_PreviousAddress_PartyLite"/>
      <class name="framework.test.CreatePartyConsAsHost_HostAddress_PartyLite"/>
      <class name="framework.test.NavigateTo_PartyLite"/>
      <class name="framework.test.CreatePartyPrevHost_HostAddress_PartyLite"/>
      <class name="framework.test.CreatePartyPrevHost_PreviousAddress_PartyLite"/>
      <class name="framework.test.SignIn_PartyLite"/>
      <class name="framework.test.LoggedInCustomerOrder_PartyLite"/>
      <class name="framework.test.AddGuestsToParty_PartyLite"/>
      <class name="framework.test.CreatePartyConsAsHost_NewAddress_PartyLite"/>
      <class name="framework.test.GuestOrderApplyGC_PartyLite"/>
      <class name="framework.test.SmokeTestNine_PartyLite"/>
      <class name="framework.test.Create_NewUserAccount_PartyLite"/>
     <class name="framework.test.FindYourConsultant_ByPostCode_PartyLite"/>
      <class name="framework.test.Create_ExistingUserAccount_PartyLite"/>
      <class name="framework.test.CreatePaperOrder_PartyLite"/>
      <class name="framework.test.GuestOrder_PartyLite"/>
      <class name="framework.test.CreatePartyNewHost_PartyLite"/>
      <class name="framework.test.CreatePartyContacts_PartyLite"/>
		</classes>
	</test> 
	<test name ="Admin_Settings_Captcha_enable"> 
	<groups> 
	<run> 
	<include name="Captcha"/> 
	<include name="Common"/> 
	</run> 
	</groups>
	<classes> 
	<class name="framework.test.TurnOnCaptcha_PartyLite" />
	</classes> 
	</test>
	<!-- Test -->
</suite> <!-- Suite -->
